/.phpunit.cache
/node_modules
/webapp/node_modules
/webapp/public/build
/public/hot
/public/storage
/storage/*.key
/webapp/vendor
.env
.env.example
.env.testing
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/my_memo
